<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>testParam</param-name>
    <param-value>&quot;cat&quot;</param-value>
  </context-param>
  <listener>
    <listener-class>com.example.test1.ListenerTest</listener-class>
  </listener>
  <filter>
    <filter-name>FiterTest</filter-name>
    <filter-class>com.example.test1.FilterTest</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiterTest</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.example.test1.MainController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/testWeb</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>